.product-card {
  width: 10rem;
  height: 22rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-image {
  max-height: 10rem;
  object-fit: contain;
  max-width: 10rem;
}
.image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.product-name {
  font-size: 0.8rem;
}
.product-price {
}
.product-brand {
}
.product-category {
}
