.product-filters__show{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap:0.4rem;
}
  .show__filters{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
  }

  .filter__info{
    display: flex;
    margin-left: 0.8rem;
    gap:0.5rem;
  } 

  .filter__head-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }